body {
  background-color: #989898;
}

body * {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.mainImage {
  width: 90%;
  margin: auto;
}

.mainImage img {
  border: 3px solid #fff;
}

.imageText {
  margin: 8px 0 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.photoGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  width: 90%;
  margin: 20px auto 0;
  padding: 0;
}

.photoGallery li {
  width: calc(100% / 5);
  border: 1px solid #fff;
  cursor: pointer;
}